/* NAVIGATION STUFF GOES HERE  */
#myButton {
    display: none;
}

ul.menuLinks, ul.menuLinks.open {
    display: flex;
    justify-content: flex-end;
}

ul.menuLinks a:hover {
    background: $primaryColor;
    color: $accentColor;
}

div.allCards {
    display: flex;
    flex-wrap: wrap;
    gap: $gutter;
    section {
        flex-basis: calc(50% - ($gutter / 2));
    }
}

footer div {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}

div.animationCards {
    grid-template-columns: 1fr 1fr;
}

div.cards {
    grid-template-columns: 1fr 1fr 1fr;
}