$primaryColor: #3b3b3b; 
$secondaryColor: #222222;
$accentColor: #ffffff;
$greyColor: #ccc;

$defaultFont:"Montserrat", sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$leading: 150%;

$gutter: 10px;